# Ignore all files
/*

# Except for thing starting with dots in the home directory.
!/.*

# But do ignore the dotfiles repo to avoid recursion issues
/.dotfiles/
# And also ignore any git directory.
*.git/

# Also ignore various temporary or frequently changing files
/.bash_history
/.viminfo
/.lesshst
/.wget-hsts
/.xsession-errors
/.Xauthority
/.ICEauthority
/.gksu.lock
/.dmrc
/.xinputrc
/.cache/
/.cmake/
/.config/
/.local/share/
/.cinnamon/
/.dbus/
/.dropbox/
/.dropbox-dist/
/.gnome/
/.java/
/.kde/
/.macromedia/
/.matlab/
/.mozilla/
/.pki/nssdb/
/.pylint.d/
/.python_history
/.slocdata/
/.snapshot*
/.ssh/env.sh
/.ssh/id_*
/.ssh/known_hosts
/.ssh/README
/.ssh/keys/
/.ssh/private/
/.subversion/
/.vim/.netrwhist
