[user]
	name = Victor A. Ying
	email = victory@csail.mit.edu
[push]
	default = simple
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[pull]
	rebase = preserve
[color "diff-highlight"]
	oldNormal = red
	oldHighlight = red bold
	newNormal = green
	newHighlight = green bold
[diff "pdf"]
	textconv = pdfinfo
[alias]
	showtrackedignored = ls-files -i --exclude-standard
[status]
	short = true
	branch = true
[diff-so-fancy]
	stripLeadingSymbols = false
